<h3 style="font-family: Serif;">RECYLE IT ALL, NO MATTER HOW SMALL IT IS!!!</h3>
    <div class="row">
        <div class="column left">
          <h3>New User?</h3>
          <p>Click here to Register</p>
          <a routerLink="/register" id="link">Register</a>
        </div>
        <div class="column middle">
          <h3>Registered User?</h3>
          <p>Click here to Login</p>
          <a routerLink="/login" id="link">Login</a>
        </div>
        <div class="column right">
            <img src="https://ars.els-cdn.com/content/image/1-s2.0-S2215153220303925-gr5.jpg" alt="e-waste recycle" height="300px" width="100%">
        </div>
      </div>