*{
    box-sizing: border-box;
}
.column{
    float: left;
    height: 400px;
    padding: 10px;
}
.left,.middle{
    width: 30%; 
    text-align: center;
    padding-top: 100px;
    font-family:'Times New Roman', Times, serif;

}
.right{
    width: 40%;
}
.row:after{
    content: "";
    display: table;
    clear: both;
}
#link{
    background-color: green;
    color: antiquewhite;
    padding: 10px 25px;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}